<%- include('layout/header') %>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
           <div class="shadow-lg">
            <div class="card-header bg-primary">
                <h3 class="text-light text-center">Adicionar Novo Usuário</h3>
            </div>
            <div class="card-body p-4">
                <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" class="form-control form-control-lg" placeholder="Digite o Nome" required>
                    </div>
                    <div class="mb-3">
                        <label for="password">Senha</label>
                        <input type="password" name="password" class="form-control form-control-lg" placeholder="Digite a Senha" required>
                    </div>
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control form-control-lg" placeholder="Digite o email" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefone">Telefone</label>
                        <input type="tel" name="telefone" class="form-control form-control-lg" placeholder="Digite o Telefone" required>
                    </div>
                    <div class="mb-3">
                        <label for="imagem" class="form-label"> Selecione a Imagem</label>
                        <input type="file" name="imagem" class="form-control form-control-lg" required>
                    </div>
                    <div class="mb-3 d-grid">
                        <input type="submit" name="submit" value="Adicionar Usuário" class="btn btn-primary btn-lg">
                    </div>
                </form>
            </div>
           </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>